<HTML>
<HEAD>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script >
	var app = angular.module('myApp', []);
	var ctlObj=	function($scope){
		$scope.message = "";
		$scope.loginId = "";
		$scope.password = "";
		$scope.submit = function() {
			if('admin' == $scope.loginId && 'admin' == $scope.password){
				$scope.message = 'Login is successful';
			}else{
				$scope.message = 'Invalid ID or Password';
			}
		};
	}
	app.controller('loginCtl',ctlObj);

</script>
</HEAD>

<BODY >
	<DIV ng-app="myApp" >
		<H1>Login</H1>  
		<FORM ng-controller="loginCtl"  >
		    <p style="color:red" ng-bind="message" ></p>
			Login: <INPUT TYPE="text" ng-model="loginId"> <BR>
			Password: <INPUT TYPE="text" ng-model="password"> <BR>
			<INPUT TYPE="button" value="SignIn" ng-click="submit()">
		</FORM>
	</DIV>
</BODY>
</HTML>
